.section-2-main {
  margin: 100px auto;

  .section-2-head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;

    .section-title {
      font-size: 40px;
      line-height: 1.2;
      font-weight: 700;
      margin-bottom: 17px;
      font-family:  $font-en-mont;
      color: #071c4d;
    }

    .description {
      font-weight: 400;
      margin: 0px;
      font-size: 18px;
      line-height: 26px;
      font-family:  $font-en-mont;
      box-sizing: border-box;
      text-align: center;
      color: #686A71;
    }
  }

  .box-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    .box {
      background-color: #fff;
      //border: 2px solid #dee2e6;
      border-radius: 15px;
      padding: 45px 35px 15px;
      text-align: left;
      box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
      position: relative;
      z-index: 12;

      .color-div{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(to bottom, #ff9466, #ff8d5e, #ff8556, #ff7d4e, #ff7547);
        z-index: -10;
        height: 0px;
        transition: 0.2s linear;
        border-radius: 15px;
        border: 0px solid #dee2e6;
      }
      &:hover{
        .color-div{
          height: 100%;
          //transition: 0.2s linear;
          box-shadow: 0 10px 40px 0 rgba(255, 117, 66, 0.4);
        }
        .count-info {
          .count-title {
            color: #FFFF;
          }
          .count-description{
            color: #FFFF;
          }
        }

      }

      .count-info {
        .count-title {
          font-family:  $font-en-mont;
          font-size: 22px;
          font-weight: 600;
          margin-bottom: 7px;
          color: #071c4d;
        }
        .count-description{
          font-family:  $font-en-mont;
          font-size: 17px;
          line-height: 25px;
          font-weight: 500;
          color: #383f48;
        }
      }
    }
  }
}


@media(max-width:1200px){
  .section-2-main .box-container  .box {
    padding: 35px 20px;
}
}


@media(max-width:1000px){
  .section-2-main   .box-container {
    grid-template-columns: repeat(2, 1fr);
}
}

@media(max-width:550px){
  .section-2-main   .box-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
}
}

@media(max-width:767px){
  .section-2-main {
    margin: 20px auto;
}
.section-2-main .section-2-head .section-title{
  font-size: 32px;
  line-height: 1.3;
}
}
.count-number {
  font-family:  $font-en-mont;
  color: #071c4d;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 27px;
}
 .box:hover .count-number {
color: #FFF;
 }
