// Fonts Family
$font-en-poppins: 'Poppins', sans-serif;
$font-en-nunito: 'Nunito Sans', sans-serif;
$font-en-OpenSans: 'Open Sans',sans-serif;
$font-en-primary: $font-en-poppins;
$font-en-OpenSans:'Open Sans', sans-serif;
$font-en-mont:'Montserrat', sans-serif;

// Theme Container
$theme-container-width: 1350px;
$theme-container-max-width: 1760px;

// MAT TOOLBAR, SIDENAV & LIST
$toolbar-height: 60px;

// BREAKPOINTS
$max-tablet-width: 899px;

// COLOR
$color-primary: #ff7542;
$color-secondary: #4b378d;
$color-accent: #1aa4e0;
$colo-white: #fff;
$color-black: #000000;
// background Color
$bg-primary: #0B163F;

h3{
  color: #071c4d;
}
