<!--<footer>-->
<!--  <div class="container">-->
<!--    <div class="footer-section-main-div">-->
<!--      <div class="footer-header-main-div">-->
<!--        <div class="footer-logo-div" >-->
<!--          <img src="/assets/brand/primary-logo-white-wide.png" alt="" />-->
<!--          <p class="description">-->
<!--            Our latest news, articles, and resources, we will sent to your inbox-->
<!--            weekly.-->
<!--          </p>-->

<!--          <div class="subscribe-1">-->
<!--            <input type="text" placeholder="Enter your email..." />-->
<!--            <a>Subscribe</a>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="footer-nav-menu two">-->
<!--          <h3 class="widget-title">Primary Pages</h3>-->
<!--          <div class="menu-primary-pages-container">-->
<!--            <a>Home</a>-->
<!--            <a>About</a>-->
<!--            <a>Contact</a>-->
<!--            <a>Service</a>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="footer-nav-menu three">-->
<!--          <h3 class="widget-title">Pages</h3>-->
<!--          <div class="menu-primary-pages-container">-->
<!--            <a>About</a>-->
<!--            <a>Pricing</a>-->

<!--            <a>Contact</a>-->
<!--            <a>Request for Demo</a>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="footer-nav-menu four">-->
<!--          <h3 class="widget-title">Template</h3>-->
<!--          <div class="menu-primary-pages-container">-->
<!--            <a>Blog</a>-->
<!--            <a>Service</a>-->
<!--            <a>Integrations</a>-->
<!--            <a>Contact</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="copy-right-main-div">-->
<!--        <div class="copy-right-sub-div">-->
<!--          <div class="copyright">-->
<!--            <p>Copyright <span>©</span> 2023 SoftLab IT. All Rights Reserved.</p>-->
<!--          </div>-->

<!--          <div class="footer-social-wrapper">-->
<!--            <a target="_blank" href="https://www.facebook.com/softlabit/">-->
<!--              <i class="fa fa-facebook icons" aria-hidden="true"></i>-->
<!--            </a>-->
<!--            <a target="_blank" href="https://twitter.com/ItSoftlab">-->
<!--              <i class="fa fa-twitter icons" aria-hidden="true"></i>-->
<!--            </a>-->
<!--            <a href="https://www.linkedin.com/company/softlab-it/mycompany/">-->
<!--              <i class="fa-brands fa-linkedin"></i>-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->




<div class="section-1-main">
  <div class="container">
    <div class="card-footer">
      <div class="content-area" >
        <div class="social">

          <div class="brand-logo">
            <img routerLink="/" src="../../../../assets/webp/banner-logo.webp" alt="Softlab IT Brand Logo" loading="lazy" />
          </div>
          <div class="icon-link">
            <ul>
              <li>
                <a target="_blank" href="https://www.facebook.com/softlabit/">
                  <img class="icon-only" src="/assets/svg/facebook.svg" alt="">
                </a>
              </li>
              <li>
                <a target="_blank" href="https://www.youtube.com/channel/UCSb7oSxf4lJUVzW0gh9LapQ">
                  <img class="icon-only small" src="/assets/svg/youtube.svg" alt="">
                </a>
              </li>
              <li>
                <a target="_blank" href="https://www.facebook.com/softlabit/">
                  <img class="icon-only" src="/assets/svg/instagram.svg" alt="">
                </a>
              <li>
                <a target="_blank" href="https://twitter.com/ItSoftlab">
                  <img class="icon-only" src="../../../assets/svg/twitter.svg" alt="">
                </a>
            </ul>
          </div>
        </div>

        <div class="address">
          <div class="top">
            <h2>Office Address</h2>
            <p>761/A,Road-no 11,Avenue 6,Mirpur DOHS, Dhaka</p>
            <p>H# 3/4 Avenue 5, Block-A, Mirpur-6 Dhaka</p>
            <p>H# 157, 27/B (3rd Floor, Old) South khulshi, Chattogram</p>

          </div>
          <div class="">
            <h2>Email Us</h2>
            <p>softlabit.info@gmail.com</p>
            <p>contact@softlabit.com</p>
          </div>
        </div>

        <div class="call">
          <div class="">
            <h2>Call Us</h2>
            <ul>
              <li><i class="fa fa-phone" aria-hidden="true"></i> +8801773853656</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i> +8801648879969</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i> +8801798089963</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i> +8801305801172</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="cp-text">
        <p>Copyright <span>&copy;</span> 2023 SoftLab IT. All Rights Reserved.</p>
      </div>

    </div>

  </div>
</div>
